.Row {
	display: table-row;
}
.Cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 7px;
	padding-right: 7px;
}
.alert {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}