<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Contact page</title>
</head>

<body>
	<b><u>Contact:</u></b>
	<br/><br/>
	<b><a href = "mailto: med.aymen.charrada@gmail.com" target="_blank">email: med.aymen.charrada@gmail.com</a></b>
	<br/><br/>
	
	<h1>send data using @RequestParam</h1>
	<form th:action="@{/saveMsg}" method="post">
		<input type="text" id="fullName" name="fullName" placeholder="Please enter your full name"></input>
		<br/><br/>
		<input type="text" id="mobile" name="mobile" placeholder="Please enter your mobile"></input>
		<br/><br/>
		<input type="text" id="subject" name="subject" placeholder="Please enter your subject"></input>
		<br/><br/>
		<input type="submit"></button>		
	</form>
	
	<h1>send data using POJO class</h1>
	<form th:action="@{/saveMsg2}" method="post">
		<input type="text" id="fullName2" name="fullName2" placeholder="Please enter your full name"></input>
		<br/><br/>
		<input type="text" id="mobile2" name="mobile2" placeholder="Please enter your mobile"></input>
		<br/><br/>
		<input type="text" id="subject2" name="subject2" placeholder="Please enter your subject"></input>
		<br/><br/>
		<input type="submit"></button>		
	</form>
</body>

</html>